!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nave_style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.PNG') }}" alt="">
            <h1>TFARHIDA</h1>
        </div>
        <div class="">
            <li><a href="/home">Home</a></li>
            <li><a href="/top_events"> Top Events</a></li>
            <li><a href="/categories"> Categories</a></li>
            <li><a href="/contact_us">Contact</a></li>
            <li><button class="create-button"><a href="/event">Create</a></button></li>
        </ul>
        </div>
        <div class="right_icons">
            <img src="../static/img/notification.PNG" alt="Notifications" class="notification-icon">
            <a href="/profile"><img src="../static/img/profile.jpeg" alt="Profile" class="profile-icon"></a>
        </div>
    </div> 
    <h1>categories</h1> 
    <div class="events">
        <div class="event">
            <div class="event-header">
                <h4>Event 1</h4>
                <button class="more-options">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

        <img src="{{ url_for('static', filename='img/friendship-day_world-friendship-day.jpg') }}" alt="">
            <div class="event-footer">
                <div class="user">
                    <img src="{{ url_for('static', filename='img/logo.PNG') }}" alt="">
                    <h3>user name 1</h3>
                </div>
                <div class="likes">
                    <button class="join-btn">Ask to Join</button>
                    <div class="mamou">
                        <h4>61</h4>
                        <img src="{{ url_for('static', filename='img/heart.PNG') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>