<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_index.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
  </div>
  <!-- create -->
  <div id="slideBox">
    <div class="topLayer">
      <div class="left">
        <div class="content">
          <form action="/users/create" method="post" class="create">
            <h2>Wlecome To Tfarhida</h2>
            <div class="form-group">
              <input type="text" placeholder="fisrt name * " name="first_name">
              {% for message in get_flashed_messages(category_filter=['first_name'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              <input type="text" placeholder="Last name *" name="last_name">
              {% for message in get_flashed_messages(category_filter=['last_name'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              <input type="text" placeholder="email*" name="email">
              {% for message in get_flashed_messages(category_filter=['email'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              <input type="date" placeholder="Date of Birth*" name="date">
              {% for message in get_flashed_messages(category_filter=['date'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              <input type="tel" placeholder="Phone numbre *" name="phone_number">
              {% for message in get_flashed_messages(category_filter=['phone_number'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              
                <div class="border-2 border-black border d-flex gap-5 rounded w-100">
                  <label for="" class="">Gender</label>
                  <span class="d-flex gap-4">
                    <span><input type="radio"  name="gender" checked value="1"><label for="">Woman</label></span>
                    <span>
                      <input type="radio" name="gender" value="0"><label for="" >Men</label></span> 

                  </span> 
                  {% for message in get_flashed_messages(category_filter=['gender'])%}
                  <p class="text-danger">{{message}}</p>
                  {%endfor%}
              </div>
              <input type="password" placeholder="password *" name="password">
              {% for message in get_flashed_messages(category_filter=['password'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              <input type="password" placeholder="confirm password*" name="password_confirm">
              {% for message in get_flashed_messages(category_filter=['password_confirm'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              <input type="file" class="form-control border-dark border-2" name="photo" id="inputGroupFile02">
              {% for message in get_flashed_messages(category_filter=['photo'])%}
              <p class="text-danger">{{message}}</p>
              {%endfor%}
              <div>
                <span><img src="{{ url_for('static', filename='img/profile.jpeg') }}">
                </span>
                <!-- <span>
                  <input type="checkbox" name="valide" id="valide"> <label for="" class="">I agree to the of
                  </label></span> -->
              </div>
            </div>
            <div class="d-flex flex-column gap-3">
              <button id="goLeft" class="rounded">Login</button>
              <button class="rounded" type="submit"> Interest 🔥</button> 
            </div>
            <input type="hidden" name="role" value="0">
          </form>

        </div>
      </div>


      <!-- loing  -->
      <div class="right">
        <div class="content1">
          <div class="welcome">
            <h2>Welcome Bock </h2>
            <p>Enter your email and password to access your account </p>
          </div> 
      
          <form method="post" action="/welcome" class="from1"   > 
            
            <div class="form-group">
              <label for="username" class="form-label" name="email">Email </label>
              <input type="text" placeholder="Enter your Email *" name="email">
              <label for="userpasword" class="form-label">Password </label>
              <input type="password" placeholder="Enter your password *" name="password">
             
            </div>
            <div class="button">
              <button id="login" class="off" type="submit" >welcome </button>
            </div>
          </form>
          <div class="button mt-3"><button id="goRight" class="off">Create an account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  



  <script type="text/javascript" src="{{ url_for('static', filename='js/move.js') }}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>