/* Basic reset and setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eeeeee;
    color: #333;
  
}

/* smooth */
html {
    scroll-behavior: smooth;
  }

/* Container for the header and navigation */
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.89);
    position: fixed;
    z-index: 1000; 
    margin: 0 auto;

}

.navbar h1 {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex; 
    align-items: center;
    gap: 20px;
}

.navbar ul li {
    cursor: pointer;
}
.navbar a {
    color: gray;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
    border-radius: 20px;
  }
.navbar a:hover {
    background-color: #555;
    border-radius: 20px;
  } 
  #btnn{ 
    border: none;
    background-color: white
  }
  .create-button{
    
   border: none;
  }
.create-button a{
    padding: 10px 20px;
    background-color: #ea5d29;
    color: white;

    border-radius: 20px;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo img {
    border-radius: 50%;
    width: 70px;
    height:70px;
}
.right_icons{
    display: flex;
    gap: 10px;
}
.right_icons img{
    width: 50px;
    border-radius: 50%;
}
/* Popup styling (unchanged) */
.popup {
    display: none;
    position: relative;
    top: 100px;
    right: 200px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    animation: fadeInUp 0.5s forwards; 
}


.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup li {
    padding: 8px 0;
    font-size: 18px;
    cursor: pointer;
}

.popup li a {
    text-decoration: none;
    color: black;
}

.popup li:hover {
    background-color: #f0f0f0;
}

@keyframes fadeInUp 
{
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}


@keyframes fadeOutDown 
{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}