.container {
    display: flex;
    width: 97.9%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.89);
    position: fixed;
    z-index: 1000;
    border-radius: 40px;
}

.container h1 {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.container ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.container ul li {
    cursor: pointer;
}
.container a {
    color: gray;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}
.container a:hover {
    background-color: #555;
    border-radius: 20px;
}

.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #ea5d29;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}